<div class="p-8 mt-8 flex justify-center">
    <form class="shadow border w-4/12 p-4">
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Username</mat-label>
                <input matInput name="username" type="text" [(ngModel)]="editFeedback.username">
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Content</mat-label>
                <input matInput name="content" type="text" [(ngModel)]="editFeedback.content">
            </mat-form-field>
        </div>


        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Rating</mat-label>
                <mat-select [(ngModel)]="editFeedback.rating"  name="Rating">
                    @for(r of ["1", "2", "3", "4", "5"]; track r)
                    {
                    <mat-option [value]="r">{{r}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>


        <div class="flex">
            <mat-form-field class="w-full">
                <mat-label>Choose Product</mat-label>
                <mat-select [(ngModel)]="pID" 
                [(value)]="selected" name="Product">
                    @for(p of productObject; track p)
                    {
                    <mat-option [value]="p.id">{{p.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex justify-around">
            <button mat-raised-button  (click)="toHome()">Cancel</button>
            <button mat-raised-button color="primary" (click)="edit()">Edit</button>
        </div>
    </form>
</div>


